<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents">
	<div class="d-flex justify-content-center">
		<div th:if="${session.userName != null}" class="postArea border">
			<textarea name="postInfo" id="postInfo" class="w-100" rows="5"></textarea>
			<div class="d-flex justify-content-end">
				<button type="submit" id="postBtn" class="btn btn-info">게시</button>
			</div>
		</div>
	</div>
	<div id="timelinePosts" class="d-flex justify-content-center border">
		<div class="d-flex justiy-content-between align-items-between">
			<span th:text="${session.userName}"></span>
			<img alt="더보기" src="/img/more-icon.png" width="30px">
		</div>
		<section class="contents">
			<div></div>
			<div></div>
		</section>
	</div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>